* {
    box-sizing: border-box;
}

body{
    width: 100%;
    display: block;
}

header{
    width: 100%;
    height: auto;

}

.header-content{
    padding: 25px;
}

.header-logo{
    display: block;
    float: left;
    max-width: 100%;
}
.header-logo h2{
    margin: 0;
    padding: 0;
}

.header-nav{
    float: right;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    padding-right: 35px;
}

.container{
    width: 100%;
}

.main-content{
    position: fixed;
    background-color: rgb(37, 141, 37);
}