@import "reset.scss";

body{
    width: 100%;
    height: 1590px;
    background: url("../images/5_Uzduotis.png");
    background-position: center center;
    font-family: 'Montserrat', sans-serif;
}

